.box, .contents {
    display: inline-block;
    margin: 10px;
}

.add, h1 {
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.reset, .clear {
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.todoInput {
    font-family: 'Courier New', Courier, monospace;
}

.todoLabel, .todoLabelDone, h1 {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

.todoLabelDone {
    text-decoration: line-through;
    color: slategray;
}

body {
    background-color: darkslategray;
}